!!!
%html
  %head
    %title
      Hotmess 100
    = stylesheet_link_tag '/assets/application'

  %body
    %h1
      Hotmess100
    %span
      (Hottest100 messed with, for the better)

    %section#short_list
      %a{name:'short_list'}
      %h2
        Short List

    %section#song_list
      %h2
        All Songs

    %nav.list_index
      %ol
        %li
          %a{href:"#short_list"}
            Short List
        - ('a'..'z').each do |letter|
          %li
            %a{href:"##{letter.upcase}"}
              =letter.upcase

    = yield

    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'
    = javascript_include_tag '/assets/application'
    = yield_content :js
