!!!
%html
  %head
    %title
      Hotmess 100

    = stylesheet_link_tag '/assets/application'
    = stylesheet_link_tag '/assets/ui-progress-bar'

    %meta{name:"viewport", content:"initial-scale=1.0 maximum-scale=1.0 width=device-width"}

  %body
    #bg
      -#- @songs.shuffle.each_with_index do |song, i|
        -#- if song.album_img_url && i < 50
          -#%img{src:song.album_img_url}

    #header
      %img.logo{src:'/assets/hotmess100.gif'}
      %h1.hidden
        Hotmess100
      %span.hidden
        (Hottest100 messed with, for the better)

    .ui-progress-bar.ui-container#progress_bar
      .ui-progress{style:"width: 7%;"}
        %span.ui-label
          %b.value

    #app.hidden
      .sl_groove
        %section#short_list
          %a{name:'short_list'}
          %h2
            Short List

      %section#song_list
        %h2
          All Songs

      %nav.list_index
        %ol
          %li
            %a{href:"#short_list"}
              Short
              %br
              List
          - ('a'..'z').each do |letter|
            %li
              %a{href:"##{letter.upcase}"}
                =letter.upcase


    = yield

    -#= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min'
    -#= javascript_include_tag "//ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject"
    = javascript_include_tag '/assets/jquery-1.7.1.min'
    = javascript_include_tag '/assets/swfobject'
    = javascript_include_tag '/assets/application'
    = yield_content :js
    :javascript
      window.songCount = #{Song.all.size}
      window.ytPlayers = {}
      window.openSongs = {}
      // Called when the embedded player is available to be scripted
      function onYouTubePlayerReady(playerId) {
        ytplayer = document.getElementById(playerId);
        ytPlayers[playerId] = ytplayer;
        ytplayer.addEventListener("onStateChange", "onytplayerStateChange");
      }

      function onytplayerStateChange(newState) {
         console.log("Player's new state: " + newState);
         //if newState === 0
           //player.getNext('')
      }
